<!-- Footer -->
                <footer class="footer_wrap footer_custom scheme_dark">
                    <div class="sc_content sc_content_default sc_content_width_1_1">
                        <div class="sc_content_container">
                            <!-- Button -->
                            
                            <!-- /Button -->
                            <!-- Footer Menu -->
                            <div class="footer_custom_menu">
                                <div class="widget widget_nav_menu">
                                    <div class="menu-footer-menu-container">
                                        <ul id="menu-footer-menu" class="menu">
                                            <li class="menu-item menu-item-home">
                                                <a href="{% url 'home' %}">Home</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="{% url 'about' %}">About</a>
                                            </li>
                                            
                                            <li class="menu-item">
                                                <a href="{% url 'contact' %}">Contacts</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Footer Menu -->
                            <!-- Socials -->
                            <div class="sc_layouts_item">
                                <div class="sc_socials sc_socials_default sc_align_default">
                                    <div class="socials_wrap">
                                                <span class="social_item">
                                                    <a href="homepage-boxed.html#" target="_blank" class="social_icons social_twitter">
                                                        <span class="trx_addons_icon-twitter"></span>
                                                    </a>
                                                </span><span class="social_item">
                                                    <a href="homepage-boxed.html#" target="_blank" class="social_icons social_facebook">
                                                        <span class="trx_addons_icon-facebook"></span>
                                                    </a>
                                                </span><span class="social_item">
                                                    <a href="homepage-boxed.html#" target="_blank" class="social_icons social_tumblr">
                                                        <span class="trx_addons_icon-tumblr"></span>
                                                    </a>
                                                </span>
                                    </div>
                                </div>
                            </div>
                            <!-- /Socials -->
                            <!-- Copyright -->
                            <div>
                                <p>© 2018 DKPRINTING</p>
                            </div>
                            <!-- /Copyright -->
                        </div>
                    </div>
                </footer>
                <!-- /Footer -->