  
  {% extends 'base.html' %}
  {% block content %}
  {% load staticfiles %}
  {% include 'slider.html' %}
                                <!-- Brands -->

                                <!-- /Brands -->
                                <!-- Welcome section -->
                                <div class="copypress-custom-bg-3">
                                    <div class="content_wrap sc_layouts_column_icons_position_left">
                                        <div class="empty_space height_6_3em"></div>
                                        <div class="trx_addons_columns_wrap">
                                            <div class="trx_addons_column-1_2 trx_addons_column_specific sc_layouts_column_icons_position_left">
                                                <div class="empty_space height_3em"></div>
                                                <div class="sc_title sc_title_default">
                                                    <h6 class="sc_item_subtitle sc_title_subtitle sc_align_default sc_item_title_style_default">welcome to our</h6>
                                                    <h2 class="sc_item_title sc_title_title sc_align_default sc_item_title_style_default">Full-service copy<br />
                                                        & printing center</h2>
                                                </div>
                                                <div class="empty_space height_2em"></div>
                                                <p>CopyPress has provided quality printing services to the NYC area and beyond since 1896! We specialize in commercial offset printing and digital printing services to cover all your needs. From brochures to banners, we are your one-stop print shop.</p>
                                                <div class="empty_space height_2_9em"></div>
                                                <div class="sc_item_button sc_button_wrap">
                                                    <a href="{% url 'about' %}" class="sc_button sc_button_pink sc_button_size_normal sc_button_icon_left">
                                                                <span class="sc_button_text">
                                                                    <span class="sc_button_title">discover more</span>
                                                                </span>
                                                    </a>
                                                </div>
                                            </div><div class="trx_addons_column-1_2 trx_addons_column_specific sc_layouts_column_icons_position_left">
                                            <div class="empty_space height_4em"></div>
                                            <figure>
                                                <img src="{% static 'images/img_about1-1.jpg' %}" alt="" />
                                            </figure>
                                        </div>
                                        </div>
                                        <div class="empty_space height_9_4em"></div>
                                    </div>
                                </div>
                                <!-- /Welcome section -->
                                <!-- Video section -->
                                
                                <!-- /Video section -->
                                <!-- Services section -->
                                <div class="copypress-custom-bg-2">
                                    <div class="content_wrap sc_layouts_column_icons_position_left">
                                        <div class="empty_space height_9_2em"></div>
                                        <div class="trx_addons_columns_wrap">
                                            <div class="custom_column_1 trx_addons_column-1_2 z-index_2 sc_layouts_column_icons_position_left">
                                                <div class="copypress-custom-bg-7">
                                                    <div class="sc_services sc_services_list custom_services_1 copypress-services-custom-block-1" data-slides-per-view="2" data-slides-min-width="200">
                                                        <div class="sc_services_columns sc_item_columns sc_item_columns_2 trx_addons_columns_wrap columns_padding_bottom">
                                                            <div class="trx_addons_column-1_2">
                                                                <div class="sc_services_item without_content with_icon sc_services_item_featured_top">
                                                                    <a href="services-single.html" class="sc_services_item_icon icon-technology-1"></a>
                                                                    <div class="sc_services_item_info">
                                                                        <div class="sc_services_item_header">
                                                                            <h6 class="sc_services_item_title">
                                                                                <a href="services-single.html">Copying Services</a>
                                                                            </h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="trx_addons_column-1_2">
                                                            <div class="sc_services_item without_content with_icon sc_services_item_featured_top">
                                                                <a href="services-single.html" class="sc_services_item_icon icon-technology"></a>
                                                                <div class="sc_services_item_info">
                                                                    <div class="sc_services_item_header">
                                                                        <h6 class="sc_services_item_title">
                                                                            <a href="services-single.html">Design Services</a>
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><div class="trx_addons_column-1_2">
                                                            <div class="sc_services_item without_content with_icon sc_services_item_featured_top">
                                                                <a href="services-single.html" class="sc_services_item_icon icon-technology-2"></a>
                                                                <div class="sc_services_item_info">
                                                                    <div class="sc_services_item_header">
                                                                        <h6 class="sc_services_item_title">
                                                                            <a href="services-single.html">Digital Scanning</a>
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><div class="trx_addons_column-1_2">
                                                            <div class="sc_services_item without_content with_icon sc_services_item_featured_top">
                                                                <a href="services-single.html" class="sc_services_item_icon icon-technology-3"></a>
                                                                <div class="sc_services_item_info">
                                                                    <div class="sc_services_item_header">
                                                                        <h6 class="sc_services_item_title">
                                                                            <a href="services-single.html">Printing Services</a>
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="custom_column_1 trx_addons_column-1_2 sc_layouts_column_icons_position_left">
                                            <div class="copypress-services-custom-block-2">
                                                <div class="empty_space height_5_2em"></div>
                                                <div class="sc_action sc_action_simple custom_action_1" data-slides-min-width="250">
                                                    <div class="sc_action_content sc_item_content">
                                                        <div class="sc_action_item sc_action_item_simple sc_action_item_mc">
                                                            <h6 class="sc_item_subtitle sc_action_item_subtitle sc_align_center sc_item_title_style_default">
                                                                <span>Provide Quality</span>
                                                            </h6>
                                                            <h2 class="sc_item_title sc_action_item_title sc_align_default sc_item_title_style_default">
                                                                <span>Copy Services</span>
                                                            </h2>
                                                            <div class="sc_action_item_description">
                                                                <span>Photocopying is widely used in the business, education, and government sectors. While there have been predictions that photocopiers will eventually become obsolete as information workers increase their use.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="empty_space height_2_5em"></div>
                                                <!-- <div class="sc_item_button sc_button_wrap sc_align_center">
                                                    <a href="homepage-boxed.html#" class="sc_button sc_button_dark sc_button_size_normal sc_button_icon_left">
                                                                    <span class="sc_button_text">
                                                                        <span class="sc_button_title">More Info</span>
                                                                    </span>
                                                    </a>
                                                </div> -->
                                                <div class="empty_space height_7_3em"></div>
                                            </div>
                                        </div>
                                        </div>
                                        <!-- <div class="empty_space height_9_2em"></div> -->
                                    </div>
                                </div>
                                <!-- /Services section -->
                                <!-- Services Info -->
                                
                                <!-- /Services Info -->
                                <!-- Info section -->
                            
                                <!-- /Info section -->
                                <!-- Testimonials -->
                                <div class="copypress-custom-bg-5">
                                    <div class="content_wrap sc_layouts_column_icons_position_left">
                                        <div class="empty_space height_5_2em"></div>
                                        <div class="trx_addons_columns_wrap">
                                            <div class="trx_addons_column-1_2 sc_layouts_column_icons_position_left">
                                                <div class="empty_space height_4em"></div>
                                                <div class="sc_testimonials sc_testimonials_default swiper-slider-container slider_swiper slider_noresize slider_nocontrols slider_nopagination" data-slides-min-width="150">
                                                    <h2 class="sc_item_title sc_testimonials_title sc_align_left sc_item_title_style_default">Testimonials</h2>
                                                    <div class="sc_testimonials_slider sc_item_slider slides swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <div class="sc_testimonials_item">
                                                                <div class="sc_testimonials_item_content">
                                                                    <p>The quality of service and the prints is amazing. I do recommend your company to all of my friends and colleagues. Thanks for the prompt orders, you rock!</p>
                                                                </div>
                                                                <div class="sc_testimonials_item_author">
                                                                    <div class="sc_testimonials_item_author_avatar">
                                                                        <img src="images/1test-90x90.jpg" alt="Amy Woodmark" />
                                                                    </div>
                                                                    <div class="sc_testimonials_item_author_data">
                                                                        <h4 class="sc_testimonials_item_author_title">Amy Woodmark</h4>
                                                                        <div class="sc_testimonials_item_author_subtitle">Sales Assistant</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="sc_testimonials_item">
                                                                <div class="sc_testimonials_item_content">
                                                                    <p>It was nice working with you all! We have been ordering prints from your company since last year, and so far the experience is basically impeccable.</p>
                                                                </div>
                                                                <div class="sc_testimonials_item_author">
                                                                    <div class="sc_testimonials_item_author_avatar">
                                                                        <img src="{% static 'images/2test-90x90.jpg' %}" alt="Kelly Simpson" />
                                                                    </div>
                                                                    <div class="sc_testimonials_item_author_data">
                                                                        <h4 class="sc_testimonials_item_author_title">Kelly Simpson</h4>
                                                                        <div class="sc_testimonials_item_author_subtitle">Senior Manager</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="sc_testimonials_item">
                                                                <div class="sc_testimonials_item_content">
                                                                    <p>I just wanted to thank you for doing such a wonderful job on my recent photo order. Thank you for such a wonderful job and I will be ordering from you again.</p>
                                                                </div>
                                                                <div class="sc_testimonials_item_author">
                                                                    <div class="sc_testimonials_item_author_avatar">
                                                                        <img src="{% static 'images/3test-90x90.jpg' %}" alt="Penny Lawrence" />
                                                                    </div>
                                                                    <div class="sc_testimonials_item_author_data">
                                                                        <h4 class="sc_testimonials_item_author_title">Penny Lawrence</h4>
                                                                        <div class="sc_testimonials_item_author_subtitle">Student</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="trx_addons_column-1_2 sc_layouts_column_icons_position_left">
                                            <div class="empty_space height_4em"></div>
                                            <figure>
                                                <img src="{% static 'images/img-1.jpg' %}" alt="" />
                                            </figure>
                                        </div>
                                        </div>
                                        <div class="empty_space height_10_5em"></div>
                                    </div>
                                </div>
                                <!-- /Testimonials -->
                                <!-- Projects -->
                                
                                <!-- /Projects -->
                                <!-- What can we do / Frequently Asked -->
                                
                                <!-- /What can we do / Frequently Asked -->
                                <!-- Service plans -->
                                
                                <!-- /Service plans -->
                                <!-- Team -->
                                <div class="copypress-custom-bg-1">
                                    <div class="sc_layouts_column_icons_position_left">
                                        <div class="empty_space height_8_6em"></div>
                                        <div class="sc_team sc_team_featured" data-slides-per-view="4" data-slides-min-width="150">
                                            <h6 class="sc_item_subtitle sc_team_subtitle sc_align_center sc_item_title_style_default">our agents</h6>
                                            <h2 class="sc_item_title sc_team_title sc_align_center sc_item_title_style_default">Meet the team</h2>
                                            <div class="sc_team_columns sc_item_columns trx_addons_columns_wrap">
                                                <div class="trx_addons_column-1_4">
                                                    <div class="sc_team_item">
                                                        <div class="post_featured sc_team_item_thumb trx_addons_hover trx_addons_hover_style_info">
                                                            <a href="team-single.html" aria-hidden="true">
                                                                <img src="{% static 'images/team-1.jpg' %}" alt="Andy Watson" />
                                                            </a>
                                                            <div class="trx_addons_hover_content">
                                                                <h3 class="sc_team_item_title trx_addons_hover_title">
                                                                    Andy Watson
                                                                </h3>
                                                                <div class="sc_team_item_subtitle trx_addons_hover_title">
                                                                    tech-designer</div>
                                                            </div>
                                                            <div class="trx_addons_hover_mask"></div>
                                                        </div>
                                                    </div>
                                                </div><div class="trx_addons_column-1_4">
                                                <div class="sc_team_item">
                                                    <div class="post_featured sc_team_item_thumb trx_addons_hover trx_addons_hover_style_info">
                                                        <a href="team-single.html" aria-hidden="true">
                                                            <img src="{% static 'images/team-2.jpg' %}" alt="Jenny Parker" />
                                                        </a>
                                                        <div class="trx_addons_hover_content">
                                                            <h3 class="sc_team_item_title trx_addons_hover_title">
                                                                Jenny Parker
                                                            </h3>
                                                            <div class="sc_team_item_subtitle trx_addons_hover_title">
                                                                tech-designer
                                                            </div>
                                                           
                                                        </div>
                                                        <div class="trx_addons_hover_mask"></div>
                                                    </div>
                                                </div>
                                            </div><div class="trx_addons_column-1_4">
                                                <div class="sc_team_item">
                                                    <div class="post_featured sc_team_item_thumb trx_addons_hover trx_addons_hover_style_info">
                                                        <a href="team-single.html" aria-hidden="true">
                                                            <img src="{% static 'images/team-4.jpg' %}" alt="Noah Sand" />
                                                        </a>
                                                        <div class="trx_addons_hover_content">
                                                            <h3 class="sc_team_item_title trx_addons_hover_title">
                                                                Noah Sand
                                                            </h3>
                                                            <div class="sc_team_item_subtitle trx_addons_hover_title">
                                                                tech-designer
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="trx_addons_hover_mask"></div>
                                                    </div>
                                                </div>
                                            </div><div class="trx_addons_column-1_4">
                                                <div class="sc_team_item">
                                                    <div class="post_featured sc_team_item_thumb trx_addons_hover trx_addons_hover_style_info">
                                                        <a href="team-single.html" aria-hidden="true">
                                                            <img src="{% static 'images/team-3.jpg' %}" alt="Sean Thompson" />
                                                        </a>
                                                        <div class="trx_addons_hover_content">
                                                            <h3 class="sc_team_item_title trx_addons_hover_title">
                                                                Sean Thompson
                                                            </h3>
                                                            <div class="sc_team_item_subtitle trx_addons_hover_title">
                                                                tech-designer
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="trx_addons_hover_mask"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Team -->
                                <!-- Special Offer -->
                               
                                <!-- /Special Offer -->
                                <!-- Blogger / Twitter Stream -->
                                
                                <!-- /Blogger / Twitter Stream -->
                                <!-- Our Contacts -->
                                <div class="copypress-custom-bg-2">
                                    <div class="content_wrap sc_layouts_column_icons_position_left">
                                        <div class="empty_space height_9_4em"></div>
                                        <div id="sc_form_3" class="sc_form sc_form_detailed simple sc_align_default">
                                            <div class="trx_addons_columns_wrap">
                                                <div class="trx_addons_column-1_2">
                                                    <div class="sc_form_info">
                                                        <h2 class="sc_item_title sc_form_title sc_align_default sc_item_title_style_default">Our Contacts</h2>
                                                        <div class="sc_form_info_item sc_form_info_item_address">
                                                            <span class="sc_form_info_icon"></span>
                                                                    <span class="sc_form_info_area">
                                                                        <span class="sc_form_info_title">Our Office</span>
                                                                        <span class="sc_form_info_data">
                                                                            <span>123, NewLenox,Chicago, IL 60606</span>
                                                                        </span>
                                                                    </span>
                                                        </div>
                                                        <div class="sc_form_info_item sc_form_info_item_phone">
                                                            <span class="sc_form_info_icon"></span>
                                                                    <span class="sc_form_info_area">
                                                                        <span class="sc_form_info_title">Phone</span>
                                                                        <span class="sc_form_info_data">
                                                                            <span>800-123-4567</span>
                                                                        </span>
                                                                    </span>
                                                        </div>
                                                        <div class="sc_form_info_item sc_form_info_item_email">
                                                            <span class="sc_form_info_icon"></span>
                                                                    <span class="sc_form_info_area">
                                                                        <span class="sc_form_info_title">Email Address</span>
                                                                        <span class="sc_form_info_data">
                                                                            <a href="mailto:example@yoursite.com">example@yoursite.com</a>
                                                                        </span>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div><div class="trx_addons_column-1_2">
                                                <form class="sc_form_form " method="post" action="http://copypress-html.themerex.net/include/sendmail.php">
                                                    <h2 class="sc_item_title sc_form_title sc_align_default sc_item_title_style_default">Request Quote</h2>
                                                    <label class="sc_form_field sc_form_field_name required">
                                                                    <span class="sc_form_field_wrap">
                                                                        <input type="text" id="name" value="" aria-required="true" placeholder="Your name">
                                                                    </span>
                                                    </label>
                                                    <label class="sc_form_field sc_form_field_email required">
                                                                    <span class="sc_form_field_wrap">
                                                                        <input type="text" name="email" id="email" value="" aria-required="true" placeholder="Your e-mail">
                                                                    </span>
                                                    </label>
                                                    <label class="sc_form_field sc_form_field_message required">
                                                                    <span class="sc_form_field_wrap">
                                                                        <textarea name="message" id="message" aria-required="true" placeholder="Your message"></textarea>
                                                                    </span>
                                                    </label>
                                                    <div class="sc_form_field sc_form_field_button">
                                                        <button class="sc_button_dark">Send Message</button>
                                                    </div>
                                                    <div class="trx_addons_message_box sc_form_result"></div>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="empty_space height_9_4em"></div>
                                    </div>
                                </div>
                                <!-- /Our Contacts -->
                                {% endblock %}