{% load staticfiles %}
<!-- Header --> 
                <header class="top_panel top_panel_custom top_panel_custom_18 without_bg_image scheme_default">
                    <!-- Top panel -->
                    <div class="top_panel_container sc_layouts_row sc_layouts_row_type_compact sc_layouts_row_delimiter sc_layouts_row_fixed">
                        <div class="sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left">
                            <!-- Logo -->
                            <div class="sc_content sc_content_default sc_float_left sc_align_left">
                                <div class="sc_content_container">
                                    <div class="sc_layouts_item">
                                        <a href="{% url 'home' %}" class="sc_layouts_logo sc_layouts_logo_default">
                                            <img class="logo_image" src="{% static 'images/logo.png' %}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Logo -->
                            <!-- Menu -->
                            <div class="sc_layouts_item">
                                <nav class="sc_layouts_menu sc_layouts_menu_default menu_hover_slide_line hide_on_mobile" data-animation-in="fadeInUpSmall" data-animation-out="fadeOutDownSmall">
                                    <ul id="menu-main-menu" class="sc_layouts_menu_nav">
                                        <!-- Menu item : Home -->
                                        <li class="menu-item current-menu-ancestor">
                                            <a href="{% url 'home' %}">
                                                <span>Home</span>
                                            </a>
                                        </li>
                                        <!-- /Menu item : Home -->
                                        <!-- Menu item : Features -->
                                        
                                        <!-- /Menu item : Features -->
                                        <!-- Menu item : About -->
                                        <li class="menu-item">
                                            <a href="{% url 'about' %}">
                                                <span>About</span>
                                            </a>
                                        </li>
                                        <!-- /Menu item : About -->
                                        <!-- Menu item : Services -->
                                        
                                        <!-- /Menu item : Services -->
                                        <!-- Menu item : Blog -->
                                        
                                        <!-- /Menu item : Blog -->
                                        <!-- Menu item : Contacts -->
                                        <li class="menu-item">
                                            <a href="{% url 'contact' %}">
                                                <span>Contacts</span>
                                            </a>
                                        </li>
                                        <!-- Menu item : Contacts -->
                                    </ul>
                                </nav>
                                <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button">
                                    <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="homepage-boxed.html#">
                                        <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu">Menu</span>
                                    </a>
                                </div>
                            </div>
                            <!-- /Menu -->
                            <!-- E-mail -->
                            <div class="sc_layouts_item contacts">
                                <div class="sc_layouts_iconed_text">
                                    <a href="mailto:info@yoursite.com" class="sc_layouts_item_link sc_layouts_iconed_text_link">
                                        <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon icon-mail-empty"></span>
                                        <span class="sc_layouts_item_details sc_layouts_iconed_text_details">
                                            <span class="sc_layouts_item_details_line2 sc_layouts_iconed_text_line2">info@yoursite.com</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- /E-mail -->
                            <!-- Contact phone -->
                            <div class="sc_layouts_item contacts">
                                <div class="sc_layouts_iconed_text">
                                    <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon icon-phone-2"></span>
                                    <span class="sc_layouts_item_details sc_layouts_iconed_text_details">
                                        <span class="sc_layouts_item_details_line2 sc_layouts_iconed_text_line2">0 (800) 123-456</span>
                                    </span>
                                </div>
                            </div>
                            <!-- /Contact phone -->
                            <!-- Socials -->
                            <div class="sc_layouts_item">
                                <div class="sc_socials sc_socials_default sc_align_default">
                                    <div class="socials_wrap">
                                        <span class="social_item">
                                            <a href="homepage-boxed.html#" target="_blank" class="social_icons social_twitter">
                                                <span class="trx_addons_icon-twitter"></span>
                                            </a>
                                        </span><span class="social_item">
                                            <a href="homepage-boxed.html#" target="_blank" class="social_icons social_facebook">
                                                <span class="trx_addons_icon-facebook"></span>
                                            </a>
                                        </span><span class="social_item">
                                            <a href="homepage-boxed.html#" target="_blank" class="social_icons social_tumblr">
                                                <span class="trx_addons_icon-tumblr"></span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- /Socials -->
                        </div>
                    </div>
                    <!-- /Top panel -->
                    